/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN DU RESET CSS */

html, body
{
	height: 100%;
}

body
{
	background-color: #E2E2E2;
	font-family: "Century Gothic";
	box-sizing: border-box;
	padding-top: 5px;
}

.contenu
{
	min-height:100%;
}

h1
{
	text-align: center;
	font-size: 30px;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	margin: 0px auto 40px auto;
	padding: 5px;
	width: 900px;
}

fieldset#co
{
	border-style: solid;
	border-width: 3px;
	border-color: black;
	text-align: center;
	width: 500px;
	height: 200px;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-right: -250px;
	margin-top: -130px;
	background-color: #A5A5A5;
	border-radius: 3px;
}

fieldset#co legend
{
	font-size: 30px;
	margin-left: 50px;
	padding: 10px;
	background-color: white;
	border-radius: 70px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

fieldset#co form
{
	padding-top: 25px;
}

fieldset#co form table
{
	margin-right: auto;
	margin-left: auto;
	border-spacing: 2px;
    border-collapse: separate;
}

fieldset#co form table tr td
{
	border: none;
	padding: 0px;
}

#coBDD
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	width: 1000px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -500px;
	margin-top: -100px;
	background-color: #A5A5A5;
	border-radius: 3px;
}

fieldset#coBDD legend
{
	margin-left: 50px;
	padding: 10px;
	background-color: white;
	border-radius: 70px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: black;
}

fieldset#coBDD form
{
	padding-top: 20px;
}

#objTrouv
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: #A5A5A5;
	border-radius: 3px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	margin-bottom: 10px;
}

#objTrouv:first-child
{
	margin-top: 10px;
}

#objTrouv:last-child
{
	margin-bottom: 64px;
}

fieldset#objTrouv legend
{
	margin-left: 50px;
	padding: 10px;
	background-color: white;
	border-radius: 70px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: black;
}

footer
{
	text-align: center;
	width: 100%;
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 2px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	padding: 10px;
	height: 54px;
	margin-top: -54px;
}

.results
{
	padding-bottom: 64px;
	margin-left: 10px;
}

.btnRet
{
	text-decoration: none;
	border: solid 1px black;
	background-color: #AFAFAF;
	border-radius: 5px;
	padding: 2px;
	color: black;
}

.btnRet:hover
{
	background-color: #CFCFCF;
}

strong
{
	font-weight: bold;
}

td
{
	border: solid 1px black;
	padding: 3px;
}

.lienDeb
{
	margin: auto;
	text-align: center;
	border: solid 1px black;
	width: 600px;
	padding: 2px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.lienDeb a
{
	margin-right: 15px;
	text-decoration: none;
}

.lienDeb a:hover
{
	margin-right: 15px;
	text-decoration: none;
	color: #FF00E6;
}

.lienDeb a:last-child
{
	margin-right: 0px;
}

.tabDP
{
	background-color: #FFFFFF;
}

.tabDP tr:first-child
{
	background-color: #AFAFAF;
}

.tabD
{
	background-color: #FFFFFF;
}